.spectrum-section,
.how-it-works-section {
	padding: var(--spacing-6xl) var(--spacing-xl);
}

.how-it-works-section {
	background-color: var(--pico-code-background-color);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4xl);
}
