.also-included {
	max-width: 56rem;
	margin-inline: auto;
}

.also-included-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-xl);

	@media (min-width: 640px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.also-included-item {
	border: var(--border);
	border-left-width: 6px;
	padding: var(--spacing-xl);

	h3 {
		font-size: 1.5rem;
		margin-bottom: var(--spacing-xs);
	}
}
