.also-included-section {
	background-color: var(--pico-contrast-background);

	.container {
		padding: var(--spacing-2xl) var(--spacing-xl);
	}
}

.also-included-label {
	font-family: var(--font-display);
	letter-spacing: 0.15em;
	text-transform: uppercase;
	opacity: 0.85;
	margin-bottom: var(--spacing-2xl);
}

.also-included-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-xl);

	@media (min-width: 576px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.also-included-label,
.also-included-item p {
	color: var(--pico-contrast-inverse);
}

.also-included-item {
	> p:first-of-type {
		font-family: var(--font-display);
		letter-spacing: 0.05em;
		font-size: var(--text-2xl);
		margin-bottom: var(--spacing-xs);
	}
}
