/* 404 page styles */

.not-found-container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--pico-code-background-color);
	padding: var(--spacing-5xl) var(--spacing-xl);
}

.not-found-content {
	text-align: center;
}

.not-found-icon {
	width: 6rem;
	height: 6rem;
	margin-inline: auto;
	margin-bottom: var(--spacing-2-5xl);
	color: var(--pico-primary);

	@media (min-width: 768px) {
		width: 8rem;
		height: 8rem;
	}
}

.not-found-divider {
	border-top: var(--border-primary-4);
	max-width: 8rem;
	margin: var(--spacing-xl) auto;
}

.not-found-content h2 {
	margin-bottom: var(--spacing-2xl);
}

.not-found-message {
	font-size: var(--text-lg);
	font-weight: 700;
	margin-bottom: var(--spacing-2-5xl);
	line-height: 1.5;
}
