.theme-toggle {
	background: none;
	border: 2px solid transparent;
	padding: 4px;
	cursor: pointer;
	color: inherit;
}

.theme-toggle:hover {
	border-color: currentColor;
}

.icon-moon,
.icon-sun {
	width: 1.1rem;
	height: 1.1rem;
}

[data-theme="dark"] .theme-toggle {
	.icon-moon {
		display: block;
	}
	.icon-sun {
		display: none;
	}
}

[data-theme="light"] .theme-toggle {
	.icon-moon {
		display: none;
	}
	.icon-sun {
		display: block;
	}
}
