/* Header layout and navigation styles */

.navbar {
	min-height: var(--header-height);
	position: sticky;
	top: 0;
	z-index: 50;
	border-bottom: var(--border-2);
	background-color: var(--pico-background-color);
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	gap: var(--spacing);
}

/* Nav start section */
.navbar-start {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-start;
	gap: var(--spacing);
}

.navbar-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--spacing-xs);
}
